<header class="site-header">
    <div class="header-container">
      <h2 class="site-title"><a href="{{ '/' | relative_url }}">Mark Wu</a></h2>
      <nav class="site-nav">
        <ul>
          <li><a href="#home"><strong>Home ⤒</strong></a></li>
          <li><a href="https://github.com/markwu9494" target="_blank"><strong>Github ⧉</strong></a></li>
          <li><a href="https://markjhwu.com" target="_blank"><strong>Blog ⧉</strong></a></li>
          <li><a href="assets/pdf/resume.pdf" target="_blank"><strong>Resume ⧉</strong></a></li>
        </ul>
      </nav>
    </div>
  </header>
