<h2>Selected Publications</h2>
<ul class="project-list">
    <li class="project-item" style="cursor: default;">
        <div class="project-content">
            <div class="project-details" style="width: 100%;">
                <div class="project-title"><h3>Journal Articles</h3></div>
                <p>Y. Meng, B. Li, X. Wang, T. Yang, J. Zhao, Y. Wang, C. Sui, T. Huang, <strong>J. Wu</strong>, et al. Structured-Light-Based Robotic System with Pre-Fixation for Automated Intravitreal Injection. <em>IEEE Transactions on Biomedical Engineering</em>, 2026.</p>
                <p>A. Alamdar, D.E. Usevitch, <strong>J. Wu</strong>, R.H. Taylor, P. Gehlbach, I. Iordachita. Steady-Hand Eye Robot 3.0: Optimization and Benchtop Evaluation for Subretinal Injection. <em>IEEE Transactions on Medical Robotics and Bionics</em>, 6(1):135–145, 2023.</p>
                <p><strong>J. Wu</strong>, T. Wang, H. Guo, Y. Wang, D. Guo, B. Lu, Z. Wang, F. Zhong, H. Wang, et al. Design, Control, and Experiments of a Novel Robotic Uterine Manipulator with the Motorized 3-DoF Manipulation Rod. <em>IEEE Transactions on Biomedical Engineering</em>, 70(7):2203–2214, 2023.</p>
                <p><strong>J. Wu</strong>, W. Chen, D. Guo, G. Ma, Z. Wang, Y. He, F. Zhong, B. Lu, Y. Wang, et al. Robot-Enabled Uterus Manipulator for Laparoscopic Hysterectomy with Soft RCM Constraints: Design, Control, and Evaluation. <em>IEEE Transactions on Medical Robotics and Bionics</em>, 4(3):656–666, 2022.</p>
                <p>M. Zhou, <strong>J. Wu</strong>, A. Ebrahimi, N. Patel, Y. Liu, N. Navab, P. Gehlbach, A. Knoll, et al. Spotlight-Based 3D Instrument Guidance for Autonomous Task in Robot-Assisted Retinal Surgery. <em>IEEE Robotics and Automation Letters</em>, 6(4):7750–7757, 2021. <em>(co-first author)</em></p>
                <p><strong>J. Wu</strong>, Z. Wang, W. Chen, Y. Wang, Y. Liu. Design and Validation of a Novel Leaf Spring-Based Variable Stiffness Joint with Reconfigurability. <em>IEEE/ASME Transactions on Mechatronics</em>, 25(4):2045–2053, 2020.</p>
                <p>C. Sui, <strong>J. Wu</strong>, Z. Wang, G. Ma, Y.H. Liu. A Real-Time 3D Laparoscopic Imaging System: Design, Method, and Validation. <em>IEEE Transactions on Biomedical Engineering</em>, 67(9):2683–2695, 2020.</p>
                <p>F. Zhong, P. Li, J. Shi, Z. Wang, <strong>J. Wu</strong>, J.Y.K. Chan, N. Leung, I. Leung, et al. Foot-Controlled Robot-Enabled EnDOscope Manipulator (FREEDOM) for Sinus Surgery: Design, Control, and Evaluation. <em>IEEE Transactions on Biomedical Engineering</em>, 67(6):1530–1541, 2019.</p>
            </div>
        </div>
    </li>
    <li class="project-item" style="cursor: default;">
        <div class="project-content">
            <div class="project-details" style="width: 100%;">
                <div class="project-title"><h3>Conference Papers</h3></div>
                <p>Y. Meng, <strong>J. Wu</strong>, L. Liu, M.E. Brelen, Y. Liu. Design and Analysis of a Robot for Automated Intravitreal Injection. <em>IEEE ROBIO</em>, 1849–1854, 2022.</p>
                <p>W. Chen, <strong>J. Wu</strong>, J. Zhou, H. Wang, Y. Wang, T.H. Cheung, Y.H. Liu. Configurability Selection of Robotic Arm with Constrained Task and Environment in Laparoscopic Hysterectomy for Uterus Manipulation. <em>IEEE RCAR</em>, 2022.</p>
                <p>R. Roth, <strong>J. Wu</strong>, A. Alamdar, R.H. Taylor, P. Gehlbach, I. Iordachita. Towards a Clinically Optimized Tilt Mechanism for Bilateral Micromanipulation with Steady-Hand Eye Robot. <em>ISMR</em>, 1–7, 2021.</p>
                <p>M. Zhou, <strong>J. Wu</strong>, A. Ebrahimi, N. Patel, C. He, P. Gehlbach, R.H. Taylor, A. Knoll, et al. Spotlight-Based 3D Instrument Guidance for Retinal Surgery. <em>ISMR</em>, 69–75, 2020.</p>
                <p><strong>J. Wu</strong>, C. He, M. Zhou, A. Ebrahimi, M. Urias, N.A. Patel, Y. Liu, P. Gehlbach, et al. Force-Based Safe Vein Cannulation in Robot-Assisted Retinal Surgery: A Preliminary Study. <em>ISMR</em>, 8–14, 2020.</p>
                <p><strong>J. Wu</strong>, G. Li, M. Urias, N.A. Patel, Y. Liu, P. Gehlbach, R.H. Taylor, I. Iordachita. An Optimized Tilt Mechanism for a New Steady-Hand Eye Robot. <em>IEEE/RSJ IROS</em>, 2020. <em>(Best Paper Finalist)</em></p>
            </div>
        </div>
    </li>
</ul>
