<h2>Selected Publications</h2>
<ul class="project-list">
    <li class="project-item" style="cursor: default;">
        <div class="project-content">
            <div class="project-details" style="width: 100%;">
                <div class="project-title"><h3>Journal Articles</h3></div>
                <p>Wu, J., et al., 2023. Design, Control, and Experiments of a Novel Robotic Uterine Manipulator With the Motorized 3-DoF Manipulation Rod. <em>IEEE TBME</em>.</p>
                <p>Wu, J., et al., 2022. Robot-enabled Uterus Manipulator for Laparoscopic Hysterectomy With Soft RCM Constraints. <em>IEEE TMRB</em>.</p>
                <p>Zhou, M., Wu, J., et al., 2021. Spotlight-based 3D Instrument Guidance for Robot-assisted Retinal Surgery. <em>IEEE RAL</em> (co-first author).</p>
                <p>Wu, J., et al., 2020. Design and Validation of a Novel Leaf Spring Based Variable Stiffness Joint. <em>IEEE/ASME TMECH</em>.</p>
                <p>Sui, C., Wu, J., et al., 2020. A Real-time 3D Laparoscopic Imaging System. <em>IEEE TBME</em>.</p>
                <p>Zhong, F., Wu, J., et al., 2019. Foot-Controlled Robot-Enabled EnDOscope Manipulator (FREEDOM) for Sinus Surgery. <em>IEEE TBME</em>.</p>
            </div>
        </div>
    </li>
    <li class="project-item" style="cursor: default;">
        <div class="project-content">
            <div class="project-details" style="width: 100%;">
                <div class="project-title"><h3>Conference Papers</h3></div>
                <p>Wu, J., et al., 2020. An Optimized Tilt Mechanism of the New Steady-Hand Eye Robot. <em>IEEE IROS</em> (Best Paper Finalist).</p>
                <p>Zhou, M., Wu, J., et al., 2020. Spotlight-based 3D Instrument Guidance for Retinal Surgery. <em>ISMR</em>.</p>
                <p>Wu, J., et al., 2020. Force-based Safe Vein Cannulation in Robot-assisted Retinal Surgery.</p>
            </div>
        </div>
    </li>
</ul>
